    <!-- Footer -->
    <footer class="py-3 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Notice 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/tether/tether.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
